.App {
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #04ff00, #04ff00);
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
